<div class="login_con">
	<span class="back_arrow back_h" href="#/view2"></span>
	<div class="text_center white">
		<span class="font18 semi_bold ">Login</span><span class="font16" style="margin: 0 3px;">with</span><span class="font18 semi_bold ">Facebook</span><span class="fb_icon fb_login_h"></span>
	</div>
	<div class="text_center white font14 mt5">
		we will never post without your permission
	</div>
	<div class="grey_box mt20 login">
		<div class="font14 bold text_center">
			or login with username and password
		</div>
		<div class="mt10">
			<input type="email" ng-model='userlogin.emailAddress' id="email" placeholder="Enter Email">
			<input type="password" ng-model='userlogin.password' id="password" placeholder="Enter Password">
		</div>
		<div class="mt10">
			<input  class="btn blue no_radius" ng-click="loginUser()" value="Log In">
		</div>
	</div>
</div>
